**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/temp/
.DS_Store
/mcp-server
/bin
/.eslintcache
/models
/models/errors
/types
/node_modules
/lib
/sdk
/funcs
/react-query
/hooks
/index.*
/endpoints.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/__tests__
/.speakeasy/reports
